* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Mulish, sans-serif;
}

body {
  display: grid;
  justify-content: center;
  padding: 72px 104px;

  background: #121214;
}

header h1 {
  font-size: 56px;
  font-weight: 900;
  line-height: 72px;

  color: #02799d;
}

header p {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;

  color: #e1e1e6;
}

main {
  display: grid;

  margin-top: 62px;
  grid-template-columns: repeat(3, 370px);

  gap: 48px 60px;
}

.card {
  overflow: hidden;
  border: 2px solid #323238;
  border-radius: 8px;
  background: #202024;
}

.card h2 {
  font-size: 36px;
  font-weight: 900;
  padding: 24px 32px 0;
  color: #e1e1e6;
}

.card p {
  font-size: 18px;
  font-weight: 600;
  padding: 24px 32px 32px;
  color: #c4c4cc;
}
